body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100hv;
    margin:  0;
    background: #222;
}
.card {
    background: #eaeaea;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
}